* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 1rem;
    --color: darkblue;
    --border: 1px solid rgb(0 0 0 / 0.2)
}

nav {
    background-color: var(--color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

main img {
    width: 130px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 5px;
    border-radius: 10px;
}

p {
    padding: 0;
}

main {
    max-width: 700px;
    margin: 20px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 50px;
    border-top: 3px dotted black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 104px;
}